# Ignore virtual environments
venv/
venv-tf/

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Ignore system files
.DS_Store